# Learn how to configure the Mercure.rocks Hub on https://mercure.rocks/docs/hub/config
{
    servers {
        
        protocol {
            experimental_http3
        }
    }
}

#{$SERVER_NAME:localhost}
:4000
log

route {
    redir / /.well-known/mercure/ui/
    encode zstd gzip

    mercure {
        # Transport to use (default to Bolt)
        transport_url redis://:jBLsoUDG8v66J8RVqobrJ4QI3WFVVklY@redis-10141.c244.us-east-1-2.ec2.cloud.redislabs.com:10141/0
        # Publisher JWT key
        publisher_jwt !ChangeMe! {env.MERCURE_PUBLISHER_JWT_ALG}
        # Subscriber JWT key
        subscriber_jwt !ChangeMe! {env.MERCURE_SUBSCRIBER_JWT_ALG}
        # Permissive configuration for the development environment
        cors_origins http://localhost:3000 http://localhost:4000 https://www-dev.factorx.jp https://www.factorx.jp
        publish_origins http://localhost:3000 http://localhost:4000 https://www-dev.factorx.jp https://www.factorx.jp
        anonymous
        demo
        subscriptions
        read_timeout 10s
        # Extra directives
        {$MERCURE_EXTRA_DIRECTIVES}
    }
    respond /healthz 200
    respond "Not Found" 404
}